@{
    Layout = "~/Views/Shared/UserSidenav.cshtml"; // Adjust path as necessary
}

@section Title {
User Dashboard
}

<div class="header-color"></div>


<div class="dashboard-portion">

    <div class="dashboard-portion-flex on-going-projects">
        <div>
            <div class="blue"><i class="bi bi-arrow-repeat"></i></div>
        </div>
        <div>
            <p class="portion-count">4</p>
            <p class="portion-title">On-going Tasks</p>
        </div>
    </div>

    <div class="dashboard-portion-flex completed-projects">
        <div>
            <div class="green"><i class="bi bi-check-circle-fill"></i></div>
        </div>
        <div>
            <p class="portion-count">5</p>
            <p class="portion-title">Completed Tasks</p>
        </div>
    </div>

    <div class="dashboard-portion-flex overdue-projects">
        <div>
            <div class="red"><i class="bi bi-exclamation-diamond-fill"></i></div>
        </div>
        <div>
            <p class="portion-count">2</p>
            <p class="portion-title">Overdue Tasks</p>
        </div>
    </div>


</div>

<div class="dashboard-table-container">
    <h2>History</h2>

    <table class="dashboard-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Jomekko Aguirre</td>
                <td>Finished a tasked!</td>
                <td>9/10/2024</td>
                <td><select name="stat" id="stat">
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.getElementById("UserDashboard").classList.add("active");
    </script>
}
