@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Title {
Admin Task
}
<div class="header-color"></div>
<div class="btn-right">
    <button type="button" class="btn btn-primary add-proj" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
        <i class="bi bi-plus-circle-fill"></i>Add Task
    </button>
</div>
<div class="project-container">
    <div class="scroll-container">
        <table id="example1" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 10vw;">Project Name</th>
                    <th>Task Name</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Frontend Development</td>
                    <td>Create Navbar</td>
                    <td>Jomekko Aguirre</td>
                    <td>On-going</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">View</a></li>
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Backend Development</td>
                    <td>Make the login function</td>
                    <td>Clint Rono</td>
                    <td>On-going</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">View</a></li>
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Frontend Development</td>
                    <td>Create Profile</td>
                    <td>Clint Rono</td>
                    <td>On-going</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">View</a></li>
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="flx-row">
                    <div class="">
                        <label for="">Task Name:</label><br>
                        <input type="text">
                    </div>
                    <div class="" style="margin-left: 1rem;">
                        <label for="">Project Name:</label><br>
                        <select name="cars" id="cars">
                            <option value="volvo">Frontend Development</option>
                            <option value="saab">Backend Development</option>
                        </select>
                    </div>
                </div>

                <div class="flx-row">
                    <div class="">
                        <label for="">Assign To:</label><br>
                        <select name="cars" id="cars">
                            <option value="volvo">Clint</option>
                            <option value="saab">Mekko</option>
                        </select>
                    </div>
                    <div class="" style="margin-left: 1rem;">
                        <label for="">Due Date:</label><br>
                        <input type="date">
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById("adminTask").classList.add("active");
</script>
